*{
    margin: 0px;
    padding: 0px;
}
.root{
    width:100vw;
    height: 100vh;
}

.aside{
    display: flow;
    float:left;
    width:30%;
    height: 100%;

    background: #00A19D;
}

.aside #button1{
    width: 180px;
    height: 80px;
    margin: 30%;
}

.aside #button2{
     width: 180px;
     height: 80px;
     margin: 30%;
 }

.main{
    display: flow;
    float:right;
    width: 70%;
    height: 100%;
    background: yellowgreen;
}